[submodule "submodules/intersections"]
	path = submodules/intersections
	url = git@github.com:GeoMop/Intersections.git
	branch = master
[submodule "submodules/yaml_converter"]
	path = submodules/yaml_converter
	url = git@github.com:flow123d/yaml_converter.git
[submodule "yaml_converter"]
	path = yaml_converter
	url = git@github.com:flow123d/yaml_converter.git
