notifications:
  email: false

git:
  submodules: false

language: python
cache: pip
sudo: required
dist: xenial

python:
  - "3.5"
  - "3.6"

virtualenv:
  system_site_packages: true

install:
 - sudo apt-get update
 - sudo apt-get install -y python3-pip python3-dev
 - sudo pip3 install PyQtWebEngine

script:
 - python --version
 - python3 --version
 - pip --version
 - pip3 --version
 - pip3 freeze
