notifications:
  email: false
  
language: python
sudo: required
dist: xenial

python:
  - "3.5"
  - "3.6"

virtualenv:
  system_site_packages: true

install:
 - sudo apt-get update
 - sudo apt-get -y install python3-pyqt5
 - sudo pip install -r requirements.txt

script:
  python --version
  python3 --version
  pip --version
  pip3 --version
  pip
