notifications:
  email: false
language: python
python:
  - "3.4"
before_install:
  - sudo apt-add-repository "deb http://archive.ubuntu.com/ubuntu/ trusty main"
  - sudo apt-add-repository "deb http://archive.ubuntu.com/ubuntu/ trusty universe"
  - sudo apt-get update
  - sudo apt-get install -fy libpango-1.0-0 libqt5designer5 libqt5gui5 libqt5help5 libqt5printsupport5 libqt5widgets5 libqt5scintilla2-11
  - sudo apt-get install -y python3-pyqt5 python3-pyqt5.qsci
  - ln -s /usr/common/python3/dist-packages/PyQt5 /home/travis/virtualenv/python3.4.2/common/python3.4/site-packages/PyQt5
  - ln -s /usr/common/python3/dist-packages/sip.cpython-34m-x86_64-linux-gnu.so /home/travis/virtualenv/python3.4.2/common/python3.4/site-packages/sip.so
  - python -c "import PyQt5;print(PyQt5.__file__)"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - cd testing/LayerEditor
  - export PYTHONPATH=../../src/LayerEditor:../../src/common
  - py.test
  - cd ../common
  - export PYTHONPATH=../../src/common
  - py.test
  - cd ../ModelEditor
  - export PYTHONPATH=../../src/ModelEditor:../../src/common:./mock
  - py.test
  - cd ../JobsScheduler
  - export PYTHONPATH=../../src/JobsScheduler
  - py.test