language: generic
cache: pip
sudo: required
dist: xenial

notifications:
  email: false

git:
  submodules: false

addons:
  ssh_known_hosts: github.com

env:
  - PYTHONPATH=$PYTHONPATH:$TRAVIS_BUILD_DIR/src:$TRAVIS_BUILD_DIR/submodules/yaml_converter:$TRAVIS_BUILD_DIR/submodules/intersections/src

install:
 - tools/initialize_submodules.sh
 - tools/initialize_submodules.sh
 - sudo apt-get update
 - sudo apt-get install -y python3-pip python3-dev python3-setuptools libffi-dev libssl-dev libxml2-dev libxslt1-dev libjpeg8-dev zlib1g-dev
 - sudo pip3 install -r requirements.txt
 - sudo pip3 install pytest plotly

script:
 - pytest testing/
# jobs:
#   include:
#     - stage:    test
#       script:   pytest testing/Analysis/
#     - script:   pytest testing/Geometry/
#     - script:   pytest testing/gm_base/
#     - script:   pytest testing/JobPanel/
#     - script:   pytest testing/ModelEditor/
