Markdown==2.6.2
PyYAML
six==1.10.0
numpy==1.12.0
scipy==0.18.1 # we need exactly this version, because we use modified files from it in calibration
pyshp==1.2.10
paramiko
psutil
pyDes
pexpect
#mpi4py
ruamel.yaml
pyperclip
PyQt5
qscintilla

# pip3
# setuptools
