Markdown #==2.6.2
PyYAML
numpy #==1.22.0
scipy  # ==18.1 # we need exactly this version, because we use modified files from it in calibration
pyshp #==1.2.10
paramiko
psutil
pyDes
ruamel.yaml
PyQt5
PyQtWebEngine   # separate package since version 5.12 of PyQt5
qscintilla
plotly
matplotlib
bgem
pyshp

# documentation build
sphinx_rtd_theme
numpydoc
