Markdown==2.6.2
PyYAML
numpy
scipy
pyshp==1.2.10
paramiko
psutil
pyDes
ruamel.yaml
PyQt5
PyQtWebEngine   # separate package since version 5.12 of PyQt5
qscintilla
plotly
matplotlib
gmsh-sdk

# pip3
# setuptools
