QTreeView {
  background-color: #fbfbfb;
  alternate-background-color: #f3f3f3;
}

QTreeView::branch:has-siblings:!adjoins-item {
  border-image: url(img/branch-vline-21.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
  border-image: url(img/branch-more-21.png) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
  border-image: url(img/branch-end-21.png) 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
  border-image: none;
  image: url(img/branch-closed-21.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
  border-image: none;
  image: url(img/branch-open-21.png);
}
