html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}

body>div>section:last-child {
    /* hack to extend the color to the end of info_text */
    padding-bottom: 32000px;
    margin-bottom: -32000px;
}

section {
    padding: 5px;
}

h2 {
    margin: 5px 5px 5px 0px;
    font-size: 1.3em;
    font-weight: bold;
    display: inline;
}

h3 {
    border-radius: 5px;
    display: inline-block;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 1.3em;
    margin: 0px 0;
    line-height: 18px;
    padding: 0px;
}

h3 small {
    font-size: 0.9em;
}

header {
    margin-bottom: 3px;
}

header p {
    margin: 0px;
}

div.container-fluid>section>header {
    border-bottom: 1px solid #CCC;
}

div.container-fluid>section>header p {
	display: inline;
	margin: 0px;
	margin-left: 50px;
    font-style: italic;
}

.skew {
    font-style: italic;
}

.implementation-list {
    padding: 0px 0px 0px 20px;
    margin: 0px;
    list-style: none;
}

.item-list {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
}

.item-list>a {
    display: block;
    margin: 2px 2px;
    padding: 0px 4px;
    background: rgba(255, 255, 255, 0.35);
    float: left;
}

.item-list a:hover {
    background: rgba(0, 0, 0, 0.03);
    text-decoration: none;
}

/*.item-list li:not(:last-child), .key-list li:not(:last-child) {
    border-bottom: 1px dashed #CCC;
}*/

a.selected {
    background: rgba(255, 255, 255, 0.75)
}


/*.description:before {
    content: '"';
}

.description:after {
    content: '"';
}*/

.no-description {
    font-style: italic;
    font-variant: small-caps;
}

.md-expression {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 5px;
    font-size: 0.95em;
    /*color: red;
    background: black;*/
}

.leading-text {
    color: #666;
    opacity: 0.9;
}

.small {
    font-size: 0.9em;
    line-height: 16px;
}

.chevron:before {
    content: " <";
    padding: 0 2px 1px;
    font-style: italic;
    font-size: 1.2em;
    color: #999;
}

.chevron:after {
    content: ">";
    padding: 0 1px 2px;
    font-style: italic;
    font-size: 1.2em;
    color: #999;
}


/*     RECORD    */
.record {
    background: #D0E0EF;
}
.record h2, .record h3, .record a {
    color: #337ab7;
}
.record a:hover {
    color: #23527c;
}


/*     ABSTRACT RECORD    */
.abstract-record {
    background: #E1F2DF;
}
.abstract-record h2, .abstract-record h3, .abstract-record a {
    color: #308B26;
}
.abstract-record a:hover {
    color: #276F1F;
}


/*     SCALAR    */
.scalar {
    background: #F0DCF2;
}
.scalar h2, .scalar h3, .scalar a {
    color: #9A2DA6;
}
.scalar a:hover {
    color: #7B2384;
}


.key-type {
    margin: 0px;
}
.key-type section {
    padding: 0px;
}
.key-type h2 {
    display: block;
    margin: 0px;
}
.key-type p {
    margin-left: 0px;
    font-style: normal;
}




.key-list, .key-description, .key-type {
    padding: 5px;
}
