html, body {
  width: 100%;
  height: 100%;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.record, .abstract-record, .selection {
  /*border-bottom: 1px solid #999;*/
}

h1 {
  border-bottom: 1px solid #999;
}

#input-reference {
  margin: 0 0 0 0; /*150px*/;
  
    min-height: 100%;
}

#input-reference h3 {
  color: #337ab7;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.record:before, .abstract-record:before, .selection:before {
    display: inline-block;
    position: relative;
    width: 150px;
    text-align: left;/*right;*/
    top: 0;/*35px;*/
    left: 0;/*-155px;*/
    color: #666;
    font-size: 0.8em;
    /*font-weight: bold;*/
}

/*.record:before {
    content: "RECORD";
}
.abstract-record:before {
    content: "ABSTRACT RECORD";
}
.selection:before {
    content: "SELECTION";
}*/

header {
  background: rgba(250, 250, 250, .5);
  padding: 5px;
}

header p {
	display: inline;
	margin: 0px;
	margin-left: 50px;
}

h3 {
    display: inline-block;
}

.skew {
    font-style: italic;
}

body h3 small {
    font-size: 0.9em;
}

#input-reference>section>ul.item-list>li:hover {
    /*box-shadow: inset 0px 0px 10px 0 rgba(0,0,0,0.15)*/
}

#input-reference>section>ul.item-list {
    margin: 10px;
    padding: 0;
}

#input-reference>section>ul.item-list>li {
    padding: 10px;
    list-style: none;
    transition: box-shadow 0.2s;
    border-bottom: 1px solid #CCC;
}
/*
ul.item-list li:nth-child(odd) {
    border-left: 5px solid #CCC;
}
*/
/*
ul.item-list li:nth-child(even) {
    border-left: 2px solid #DDD;
}*/

#input-reference>section>ul.item-list li:last-child {
    border: none
}

.jumbotron .description>p {
    font-size: 15px;
    display: inline
}

.description:before, .description:after {
    font-size: 1.5em;
    color: #666;
    opacity: 0.5;
}

.description:before {
    content: '"';
}

.description:after {
    content: '"';
}

#input-reference a {
    /*color: inherit;*/
}

.no-description {
    font-style: italic;
    font-variant: small-caps;
}

.shortcut, .shortcut-r {
    color: #999;
}

.shortcut:after {
    content: ": ";
}

.shortcut-r:before {
    content: " :";
}


ul.nav-bar {
    margin: 0;
    padding: 0;
}

ul.nav-bar li {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    list-style: none;
}

.side-anchor {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 1.4em;
    opacity: 0.2
}

.side-anchor:hover {
    opacity: 1;
}

.md-expression {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    padding: 5px;
    font-size: 0.95em;
    /*color: red;
    background: black;*/
}

.leading-text {
    color: #666;
    opacity: 0.9;
}

.item-key-value {
    text-align: right;
    font-size: 0.9em;
    line-height: 16px;
    float: right;
}

body h2 {
    margin: 5px 5px 5px 0px;
    font-size: 1.3em;
    font-weight: bold;
    display: inline;
}

body h3 {
    font-size: 1.3em;
    margin: 5px 0;
    line-height: 18px;
    padding: 5px;
}


.chevron:before {
    content: " <";
    padding: 0 2px 1px;
    font-style: italic;
    font-size: 1.2em;
    color: #999;
}

.chevron:after {
    content: ">";
    padding: 0 1px 2px;
    font-style: italic;
    font-size: 1.2em;
    color: #999;
}


#input-reference .record {
    background: #D0E0EF;}
#input-reference .record h3, #input-reference .record a {
    color: #337ab7;}
#input-reference .record a:hover {
    color: #23527c;}


#input-reference .abstract-record {
    background: #E1F2DF;}
#input-reference .abstract-record h3, #input-reference .abstract-record a {
    color: #308B26;}
#input-reference .abstract-record a:hover {
    color: #276F1F;}

#input-reference .selection {
    background: #F0DCF2;}
#input-reference .selection h3,#input-reference .selection a {
    color: #9A2DA6;}
#input-reference .selection a:hover {
    color: #7B2384;}

.abstract-record em {
    padding-left: 10px;
}
